In [1]:
from dataclay import Client
from dataclay.config import session_var
client = Client(proxy_host="127.0.0.1", dataset="admin")
client.start()

/home/alex/BSC/otlp-dataclay-bridge/venv/lib/python3.11/site-packages/pydantic_settings/sources.py:376: UserWarning: directory "/run/secrets" does not exist
  warnings.warn(f'directory "{self.secrets_path}" does not exist')
INFO:dataclay.client.api:Starting client runtime

Starting event loop in new thread

INFO:dataclay.backend.client:SSL not configured

## Get TimeSeriesData persistent data structure

In [2]:
from model.timeseries import TimeSeriesData

try:
    tsd = TimeSeriesData.get_by_alias("timeseries")
    print("TimeSeriesData already available, using it.")
except DataClayException:
    print("Creating new TimeSeriesData structure (which the bridge should use)")

    tsd = TimeSeriesData()
    tsd.make_persistent(alias="timeseries")

TimeSeriesData already available, using it.

## Wait for a DataFrame (active wait)

In [13]:
df = tsd.wait_for_dataframe()

In [14]:
df

                     otel-telemetry-demo.otelcol_process_cpu_seconds
1719502517901000000                                             0.42
1719502522901000000                                             0.42
1719502527902000000                                             0.43
1719502532901000000                                             0.43
1719502537901000000                                             0.43
1719502542901000000                                             0.44
1719502547901000000                                             0.44
1719502552901000000                                             0.45
1719502557901000000                                             0.45
1719502562901000000                                             0.45
1719502567902000000                                             0.46
1719502572901000000                                             0.46

## Get DataFrames in the system

In [6]:
last_df = tsd.get_last_dataframe()
last_df

                     otel-telemetry-demo.otelcol_process_cpu_seconds
1719502102898000000                                             0.06
1719502107901000000                                             0.06
1719502112901000000                                             0.06
1719502117901000000                                             0.06
1719502122901000000                                             0.07
1719502127901000000                                             0.07
1719502132901000000                                             0.07
1719502137901000000                                             0.07
1719502142901000000                                             0.08
1719502147901000000                                             0.08
1719502152901000000                                             0.09

In [10]:
all_dfs = tsd.get_all_dataframes()
len(all_dfs)

2

In [11]:
all_dfs[0]

                     otel-telemetry-demo.otelcol_process_cpu_seconds
1719502102898000000                                             0.06
1719502107901000000                                             0.06
1719502112901000000                                             0.06
1719502117901000000                                             0.06
1719502122901000000                                             0.07
1719502127901000000                                             0.07
1719502132901000000                                             0.07
1719502137901000000                                             0.07
1719502142901000000                                             0.08
1719502147901000000                                             0.08
1719502152901000000                                             0.09

In [12]:
all_dfs[1]

                     otel-telemetry-demo.otelcol_process_cpu_seconds
1719502157901000000                                             0.09
1719502162901000000                                             0.09
1719502167901000000                                             0.10
1719502172901000000                                             0.10
1719502177898000000                                             0.11
1719502182901000000                                             0.11
1719502187901000000                                             0.11
1719502192900000000                                             0.12
1719502197901000000                                             0.12
1719502202901000000                                             0.13
1719502207898000000                                             0.13
1719502212901000000                                             0.13